<h1>{{ titleApp }}</h1>

<ul>
    <p *ngIf="todos.length == 0"><small>Não tem nenhuma tarefa hoje!</small></p>
    <li *ngFor="let todo of todos;index as i">
        {{ i+1 }} - {{ todo.title }}

        <button (click)="remove(todo)"><i class="far fa-trash-alt"></i></button>
        <button *ngIf="!todo.done" (click)="setForm(todo)"><i class="far fa-edit"></i></button>
        <button *ngIf="!todo.done" (click)="markAsDone(todo)"><i class="far fa-check-circle"></i></button>
        <button *ngIf="todo.done" (click)="markAsUndone(todo)"><i class="fas fa-check-circle"></i></button>
    </li>
</ul>

 <form class="form" [formGroup]="form">
    <fieldset>
        <label>Tarefa: </label>
        <input type="text" placeholder="Titulo da Tarefa" maxlength="60" formControlName="title">
        <small class="danger" *ngIf="form.controls.title.invalid && !form.controls.title.pristine">Este campo deve
            conter entre 3 e 60 caracteres</small>
        <button class="button" [disabled]="form.invalid" (click)="addTodo()">Salvar</button>
    </fieldset>
</form> 